{% extends 'hacoweb/core.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Haco | Login</title>
    <link rel="stylesheet" href="{% static 'hacoweb/style.css' %}" type="text/css" media="screen">
</head>

<body>
    {% block content %}
        <div class="container-fluid">
            <div id="login-form" class="content-section">
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Login to Haco</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Login</button>
                    </div>
                    <!-- Signup link instead -->
                    <div class="border-top pt-4">
                        <small class="text-muted">
                            Not a Haco member? <a href="{% url 'register' %}" class="ml-2">Signup Instead</a>
                        </small>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
</body>
</html>