/*
    FONT NOTES:

    FOR 'OSWALD'
    WEIGHTS AVAILABLE ARE: 200, 400, 700

 */

/*
    GENERAL/CORE STYLING FOR NAVIGATION BAR, HEADING AND FOOTING
 */

* {
    font-family: 'Oswald', sans-serif;
}

html {
    font-size: 16px;
}

body {
    background-color: #b6e0e2;
}

a, a:hover{
    text-decoration: none;
    color: inherit;
}

/*
    MEDIA QUERIES
 */

/*
    Media - Small Screens
 */
@media only screen and (min-width: 376px){
    /*
        remove blue visited on anchor tags after clicked
     */
    a:visited {
        color: inherit;
        text-decoration: none;
    }

    /*
        prepares body for map
     */
    body {
        padding: 0;
        margin: 0;
    }

    /*
        initialises the map and prepares the html and body
     */
    html, body, #init_map, #haco_home_map {
        height: 50vh;
        width: 100vw;
    }

    /*
        map container
     */
    #init_map {
        margin-bottom: 200px;
    }

    /*
        main element at the top of page
        to be larger on mobile devices
     */
    .haco-main {
        padding: 220px 0;
        background-color: #2B2D42;
    }

    .haco-title {
        max-width: 100%;
        height: auto;
        font-size: 12rem;
        text-align: center;
        color: #EF233C;
    }

    /*
        navigation banner options sign in or register not displayed
        on mobile as they will appear in the dropdown menu
     */
    .nb-opts {
        display: none;
    }

     /*
        fill the mobile screen with the map once
     */

    #haco_home_map {
        margin: 50px 0;
        width: 100%;
    }

    /*
        hide website navigation when rendering mobile
     */
    .haco-nav {
        display: none;
    }

    /*
        image refinements for mobile
     */
    .haco-title img {
        width: 25%;
        height: auto;
        margin-bottom: 15px;
    }

    /*
        navbar-custom Works with the entire mobile nav class
        as a unit
     */
    .navbar-custom {
        background-color: #edae49;
        padding: 20px 20px;
    }

    /*
        list and anchor items within
     */
    .navbar-custom li a {
        font-size: 3rem;
        text-decoration: none;
        color: #EF233C;

    }

    /*
        anchor and icon hovering
     */
    .navbar-custom a:hover, i:hover {
        color: #2B2D42;
    }

    /*
        icon active (clicked)
     */
    .navbar-custom i:active {
        color: #EF233C;
    }

    /*
        button element
     */
    #h_button {
        background-color: #edae49;
        border: 2px solid #EF233C;
        border-radius: 10px;
    }

    /*
        contains the "button", the <i> element (icon)
     */
    .btn-label {
        color: #EF233C;
    }


}

/*
    Media - Medium Screens i.e. tablets, lanscape mobiles
 */
@media only screen and (min-width: 768px){

}

/*
    Media - Large Screens
 */
@media only screen and (min-width: 992px){
    .haco-main {
        padding: 10px;
        background-color: #2B2D42;
        color: #EF233C;
    }

    .haco-title {
        color: #EF233C;
        padding: 2rem;
        font-size: 4rem;
    }

    .haco-nav {
        display: block;
        background-color: #8d99ae;
        color: #edae49;
        font-size: 1.25rem;
        padding: 1rem;
        border-radius: 0 0 25px 25px;
    }

    #nav_collap_container, #haco_nav_m {
        display: none;
    }

    .nav-icon {
        background-color: #2B2D42;
    }

    .nb-opts {
        display: block;
        padding-top: 1.5rem;
    }

    .nb-opts a {
        color: #edae49;
    }

    .haco-title img {
        margin-bottom: 5px;
        margin-left: 2rem;
        vertical-align: center;
    }

    /*
      MAP STYLING
     */
    #haco_home_map {
        margin: 5% auto;
        width: 80%;
        height: 600px;
    }
}

/* Globals */
.haco-nav a:first-of-type {
    padding-left: 1rem;
}

.haco-nav a {
    padding: 1rem;
    border-right: 0.15pc solid #edae49;
    color: #edae49;
}

.haco-nav a:hover {
    text-decoration: none;
    color: #EF233C;
}


