/*
    FONT NOTES:

    FOR 'OSWALD'
    WEIGHTS AVAILABLE ARE: 200, 400, 700

 */

/*
    GENERAL/CORE STYLING FOR NAVIGATION BAR, HEADING AND FOOTING
 */
* {
    font-family: 'Oswald', sans-serif;
}

/*
    MEDIA QUERIES
 */
@media only screen and (min-width: 576px){


    #haco_home_map {
        width: 100%;
        max-height: 400px;
    }
}

@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 992px){

}

a:hover {
    text-decoration: none;
    color: #edae49;
}

.haco-nav {
    background-color: #8d99ae;
    color: #edae49;
    font-size: 1rem;
}

.haco-nav a {
    color: #edae49;
}

.haco-nav a:link {
    text-decoration: none;
}

.haco-nav a:hover {
    color: #D90429;
    font-weight: bolder;
}

.nav-icon {
    background-color: #2B2D42;
}

.haco-main {
    background-color: #2B2D42;
}

.haco-main {
    color: #edae49;
}

.haco-title {
    color: #EF233C;
    font-size: 3.5rem;
}

/*
  MAP STYLING
 */
#haco_home_map {
    margin: 5% auto;
    max-width: 80%;
    max-height: 600px;
}


