{% extends 'hacoweb/core.html' %}
{% load static %}

<head>
    <title>{% block title %}Learn About Wildfires{% endblock %}</title>
</head>

<body>
    {% block content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <h3 class="h3">What are Wildfires?</h3>
                    <p>Wildfires are naturally occuring phenomenon which can be devastate large areas of land causing sever damage to community infrastucture
                    resources and livestock.</p>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <h3 class="h3">Why do they occur?</h3>
                    <p>Wildfires are often caused directly by the global warming effect. They occur more commonly in climates which are arid and dry. Wildifres can
                    also be caused by human activity, intentional or otherwise.</p>
                </div>
            </div>
        </div>
    {% endblock %}
</body>