{% extends 'hacoweb/core.html' %}
{% load static %}
{% load leaflet_tags %}

<head>
    <title>{% block title %}Haco | Wildfire Management{% endblock %}</title>
</head>

<body>
    <!-- Main Body -->
    {% block content %}

        <div class="container">
            <h2>Current Global Wildire Events</h2>
            <!-- Leaflet -->
            {% leaflet_map "haco_home_map" %}
        </div>


        <!-- Scripting -->
        <script>

            window.addEventListener("map:init", (e) => {
                // Map Reference
                let homeMap = e.detail.map;
                let latlng; // will be used to update coordinates as map state changes
                // Locates user and sets the view
                homeMap.locate({setView: true, setZoom: 300})
                .on('locationfound', (e) => { // on location found begin drawing marker
                    let marker = L.marker([e.latitude, e.longitude], {
                        draggable: true,
                        autoPan: true
                    })
                    // after the marker has been dropped, regather coordinates pass them out to global var
                    .on('dragend', () => {
                        marker.unbindPopup();
                        latlng = marker.getLatLng();
                        marker.bindPopup('Lat: ' + latlng.lat.toFixed(6) + ', Lon: ' + latlng.lng.toFixed(6));
                        marker.openPopup();
                        circle.remove();
                    })
                    .bindPopup('Lat: ' + e.latitude + ', Lon: '+ e.longitude)
                    let circle = L.circle([e.latitude, e.longitude], e.accuracy/2, {
                        weight: 1,
                        color: '#b6e0e2',
                        fillColor: '#CACACA',
                        fillOpacity: 0.2
                    });
                    // Add layers (marker/circle) to the map
                    homeMap.addLayer(marker);
                    homeMap.addLayer(circle);
                    // Open popup when location found
                    marker.openPopup();
                })
                .on('locationerror', (e) => {
                    console.log(e);
                    alert('Location access denied.');
                })
            });
        </script>

    {% endblock %}
</body>